{varType Base\DB\Shop[] $shops}
{varType Base\DB\Shop|null $shop}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>⋆ Admin - {@$headerLabel}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$basePath}/public/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{$basePath}/public/admin/css/adminlte.min.css">
    <link rel="shortcut icon" href="https://www.lqd.cz/public/favicon.ico?v=2"/>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" type="text/css">

    {*    <link rel="stylesheet" href="{$nodeUrl}/bootstrap-fileinput/css/fileinput.css" type="text/css">*}
    {do $allPolyfills = []}

	{foreach $control->getComponents() as $key => $value}
        {do $value = $value['filterForm'] ?? $value['form'] ?? $value}

        {if $value instanceOf Forms\Form}
            {do $polyfills = $value->getPolyfills()}
            {* Place here custom global configs for polyfills *}
            {ifset $polyfills['flatpickr']}
                {foreach $polyfills['flatpickr'] as $flatpickrKey => $flatpickrValue}
                    {* Global config for flatpickr *}
                    {do $polyfills['flatpickr'][$flatpickrKey]['locale'] = 'cs'}
                    {do $polyfills['flatpickr'][$flatpickrKey]['allowInput'] = false}
                    {do $polyfills['flatpickr'][$flatpickrKey]['altInput'] = true}
                    {do $polyfills['flatpickr'][$flatpickrKey]['altFormat'] = 'd.m.Y H:i'}
                    {do $polyfills['flatpickr'][$flatpickrKey]['enableTime'] = true}
                {/foreach}
            {/ifset}
            {ifset $polyfills['tail.select']}
                {foreach $polyfills['tail.select'] as $tailselectKey => $tailselectValue}
                    {* Global config for tail.select *}
                    {do $polyfills['tail.select'][$tailselectKey]['locale'] = 'cs'}
                    {do $polyfills['tail.select'][$tailselectKey]['multiLimit'] = '99999'}
                {/foreach}
            {/ifset}
            {ifset $polyfills['tinymce']}
                {foreach $polyfills['tinymce'] as $tinymceKey => $tinymceValue}
                    {* Global config for tinymce *}
                    {do $polyfills['tinymce'][$tinymceKey]['body_class'] = 'mt-4 mb-4'}
                    {do $polyfills['tinymce'][$tinymceKey]['width'] = '100%'}
                    {*do $polyfills['tinymce'][$tinymceKey]['extended_valid_elements '] = 'tbody[caption|tr],thead[caption|tr]'*}
                    {*                    {do $polyfills['tinymce'][$tinymceKey]['valid_children'] = '+tbody[caption],thead[caption]'}*}
                {/foreach}
            {/ifset}
            {foreach $polyfills as $pKey => $pValue}
                {ifset $allPolyfills[$pKey]}
                    {do $allPolyfills[$pKey] += $polyfills[$pKey]}
                {else}
                    {do $allPolyfills[$pKey] = $polyfills[$pKey]}
                {/ifset}
            {/foreach}
        {/if}
    {/foreach}

	{include '../../vendor/liquiddesign/forms/src/templates/css.latte', polyfills: $allPolyfills}

    <!-- Custom styles -->
    <link rel="stylesheet" href="{$basePath}/public/admin/css/style.css?p=2" type="text/css">

    <script src="{$nodeUrl}/jquery/dist/jquery.min.js"></script>
    <script src="{$nodeUrl}/nette-forms/src/assets/netteForms.min.js"></script>
    <script src="{$nodeUrl}/nette.ajax.js/nette.ajax.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{$baseUrl}/vendor/liquiddesign/forms/src/assets/lqdForm.js?{time()}"></script>
    {include '../../vendor/liquiddesign/forms/src/templates/js.latte', polyfills: $allPolyfills}
    <script src="{$baseUrl}/vendor/liquiddesign/grid/src/assets/lqdGrid.js"></script>
    <script src="{$pubUrl}/js/flatpickr_cs.js" type="text/javascript"></script>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" n:if="$shops">
                <select class="form-control" onchange="location = this.value;">
                    {foreach $shops as $itemShop}
                        <option value="{plink this, shop => $itemShop->getPK()}" {if $shop?->getPK() === $itemShop->getPK()}selected{/if}>{$itemShop->name}</option>
                    {/foreach}
                </select>
            </li>
            <li class="nav-item">
                <i class="fas fa-external-link-alt"></i> &nbsp;ESHOP
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="{$baseUrl}" target="_blank"
                   role="button">
                    <i class="fas fa-external-link-alt"></i> &nbsp;ESHOP
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar"
                   data-slide="true" n:href=":Admin:Admin:Profile:default" role="button">
                    <i class="fas fa-user-cog"></i> &nbsp; {$admin->getIdentity()->fullName ?: 'Můj profil'}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link logoutClick" data-widget="control-sidebar" data-slide="true" href="{plink logout!}" role="button">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a n:href=":Eshop:Admin:Dashboard:default" class="brand-link py-3">
            <img src="{$pubUrl}/admin/img/lqd-logo-white.png" class="logo-long pl-4" height="35">
            <img src="{$pubUrl}/admin/img/lqd-logo-short-white.png" class="logo-short" height="35" alt="">
        </a>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                {control menu}
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {snippetArea wrapper}
            {ifset content}
                {include content}
            {else}
                {include 'templates/content.latte'}
            {/ifset}
        {/snippetArea}
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Roiwell</b> 2021
        </div>
        <strong></strong>
    </footer>

</div>
<!-- ./wrapper -->

<script type="text/javascript">
    $(function () {
        $.nette.init();

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });

        $('.rowSelector').on('click', function () {
            $(this).parents('tr').first().toggleClass('active');
        });
    });
</script>

<script>
    $('.nav-link-category').click(function (e) {
        e.preventDefault();
        $(this).parent('.nav-item').toggleClass('menu-open');
    });

    $('[data-widget="pushmenu"]').click(function (e) {
        e.preventDefault();
        $('body').toggleClass('sidebar-collapse');
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#toogleAll").click(function () {
            var checkBoxes = $("input[type='checkbox'][id!='toogleAll']");
            checkBoxes.prop("checked", $("#toogleAll").prop('checked'));
        });

        if ($("input[type='radio'][name='type']:checked").val() == 'video') {
            $("#frm-form-image-toogle").hide();
            $("#frm-form-imageMobile-toogle").hide();
            $("#frm-form-video-toogle").show();
        } else {
            $("#frm-form-image-toogle").show();
            $("#frm-form-imageMobile-toogle").show();
            $("#frm-form-video-toogle").hide();
        }

        $("input[type='radio'][name='type'][value='image']").click(function () {
            $("#frm-form-image-toogle").show();
            $("#frm-form-imageMobile-toogle").show();
            $("#frm-form-video-toogle").hide();
        });

        $("input[type='radio'][name='type'][value='video']").click(function () {
            $("#frm-form-image-toogle").hide();
            $("#frm-form-imageMobile-toogle").hide();
            $("#frm-form-video-toogle").show();
        });

    });

    // SEO Character counter
    $('*[data-characters]').on('keyup', function () {
        var characters = $(this).data('characters');
        characterCounter($(this), 'Doporučená délka textu pro Google: ' + characters + ' znaků', characters);
    });

    $('.seo_url').blur(function () {
        $(this).val(solve_seo_link($(this).val()));
    });

    // handle fill URL
    $("*[data-copy]").blur(function () {
        var targets = $(this).data('copy').split(',');
        var mutation = $(this).data('mutation');
        if (typeof mutation === 'undefined') {
            mutation = '';
        } else {
            mutation = '[' + mutation + ']';
        }

        for (i in targets) {
            var target = $('input[name="' + targets[i] + mutation + '"');

            if (typeof target !== 'undefined' && target.val() === '' && !target.is('[readonly]')) {
                target.val(target.hasClass('seo_url') ? solve_seo_link($(this).val()) : $(this).val());
            }
        }

    });

    function characterCounter(el, title, maxChars) {
        maxChars = maxChars ? maxChars : 80;
        let len = el.val().length;
        let div = el.next('div');

        if (div.length < 1) {
            el.after('<div class="text-sm mt-1"></div>');
            div = el.next('div');
        }

        div.html('Zbývá <output class="" title="' + title + '" style="text-decoration: underline dotted;">' + (maxChars - len) + ' </output> znaků');
        let output = div.find('output');

        if (len == maxChars) {
            output.removeClass('text-danger');
            output.addClass('text-success');
        } else if (len > maxChars) {
            output.removeClass('text-success');
            output.addClass('text-danger');
        } else {
            output.removeClass('text-danger');
            output.removeClass('text-success');
        }
    };

    function solve_seo_link(newstr) {
        newstr = newstr.toLowerCase();
        newstr = translate_chars(newstr, 'ÁČĎÉĚÍŇÓŘŠŤÚŮÝŽ', 'acdeeinorstuuyz');
        newstr = translate_chars(newstr, 'áčďéěíňóřšťúůýž', 'acdeeinorstuuyz');

        //nahradit nepovolene znaky pomlckama
        newstr = newstr.replace(/[^a-z0-9_/-]+/g, '-');
        newstr = newstr.replace(/-+/g, '-');
        newstr = newstr.replace(/^-/g, '');
        newstr = newstr.replace(/-$/g, '');

        return newstr;
    }

    function translate_chars(str, originals, translations) {
        if (originals.length != translations.length) {
            alert('Originals have not the same length as translations');
        }

        for (var i = 0; i < str.length; i++) {
            for (var j = 0; j < originals.length; j++) {
                if (str.charAt(i) == originals.charAt(j)) {
                    str = "".concat(str.substring(0, i), translations.charAt(j), str.substring(i + 1));
                    break;
                }
            }
        }

        return str;
    }

    $('#check-all-permissions').click(function (e) {
        $("input[id^=frm-permissionGrid-form-allow-]").prop("checked", e.target.checked)
    });

    $('#check-all-manager-permissions').click(function (e) {
        $("input[id^=frm-permissionGrid-form-admin-]").prop("checked", e.target.checked)
    });

</script>

<script>
    const componentFooter = $('.table-footer-components');

    if (componentFooter) {
        const pagination = $('.pagination');
        componentFooter.append(pagination);
    }
</script>
{block scripts}{/block}
</body>
</html>
